<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Blog</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header></header>
    <div id="main">
        <h1>My Blog</h1>
            <div class="brief">
                <h2>{{ title }}</h2>
                <h3>{{ subtitle }}</h3>
                <p>{{ body }}</p>
            </div>
    </div>
    <footer>
        Made by Alex with ❤️
    </footer>
</body>
</html>