body {
    background-color: lightgrey;
    background-attachment: fixed;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: none;
}

header {
    background-color: #91a4e4;
    height: 300px;
    padding: 0;
    margin: 0;
    border-top: 20px solid #8e82e5;
}

#main {
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: -100px auto 0 auto;
    height: calc(100vh - 250px);
    overflow-y: auto;
    scrollbar-width: none;
}

h1 {
    font-size: 30px;
    margin-bottom: 100px;
    color: white;
    font-weight: 100;
    position: fixed;
    margin-top: -100px;
}

.brief {
    background-color: white;
    padding: 40px;
    margin-bottom: 50px;
}

h2 {
    font-size: 25px;
    font-weight: 100;
}

h3 {
    font-size: 20px;
    font-weight: 100;
}

footer {
    position: fixed;
    margin: -15px auto 0 auto;
    justify-content: center;
    align-items: center;
    background-color: #8e82e5;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;
}